div{
    /* background-color: rgb(119, 28, 180);
    opacity: 1; */
}
body{
    background-image: url("../../images/premium_vector-1708429744052-cbc9179ad032.avif"); background-repeat: no-repeat;background-position-x: center; background-attachment: fixed;background-size: 1100px 1300px;
}